<!DOCTYPE html>

<html>
<head>
    <meta name="tipo_contenido"  content="text/html;" http-equiv="content-type" charset="utf-8">
    <title>Rosa Mart&iacute;nez Joyería de Autor</title>
    <%= stylesheet_link_tag 'store/bootstrap', :cache => true %>
    <%= javascript_include_tag 'store/all', :cache => true %>
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <%= render :partial => 'spree/shared/navbar' %>
</div>
<div class="container" style="padding: 200px 0;">
  <div class="row fluid">
    <div class="span12" style="height: 45px; background-color: #d3ccb2; font-family: Big Caslon, Book Antiqua, Palatino Linotype, Georgia, serif; font-size: 25px; text-align: center; color: #807f75">Nombre Artículo</div>
    <div class="span4" style="padding: 5px 0; height: 300px; background-color: #e2d161;"></div>
    <div class="span4" style="padding: 5px 0; height: 300px; background-color: #e2d300;">Foto Artículo</div>
    <div class="span4" style="padding: 5px 0; height: 300px; background-color: #e2d161;"></div>
    <div class="span12" style="background-color: #d3ccb2;">Breve descripción artículo</div>
    <div class="span12" style="padding: 10px 0;">Pestañas</div>
  </div>
</div>
</body>
</html>
