<!DOCTYPE html>

<html>
<head>
    <meta name="tipo_contenido"  content="text/html;" http-equiv="content-type" charset="utf-8">
    <title>Rosa Mart&iacute;nez Joyería de Autor</title>
    <%= stylesheet_link_tag 'store/all' %>
    <%= javascript_include_tag 'store/all', 'store/jquery.roundabout' %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <%= render :partial => 'spree/shared/navbar' %>
  </div>
  <%= yield %>
</body>
</html>
