<!DOCTYPE html>
<html>
<head>
    <meta name="tipo_contenido"  content="text/html;" http-equiv="content-type" charset="utf-8">
    <title>Rosa Mart&iacute;nez Joyería de Autor</title>
    <%= stylesheet_link_tag 'store/bootstrap', :cache => true %>
    <%= javascript_include_tag 'store/all', :cache => true %>
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <%= render :partial => 'spree/shared/navbar' %> 
</div>
<div class="container" style="padding: 180px 0;">
  <div class="row fluid">
    <div class="span4" style="background-color: #e2d161; height: 120px;">foto</div>
    <div class="span8" style="background-color: #e2d130; height: 120px;">
      datos artículo
    </div>
  </div>
</div>
</body>
</html>
