<!DOCTYPE html>

<html>
<head>
    <meta name="tipo_contenido"  content="text/html;" http-equiv="content-type" charset="utf-8">
    <title>Rosa Mart&iacute;nez Joyería de Autor</title>
    <link href="css/bootstrap.css" rel="stylesheet" media="screen">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/bootstrap.js"></script>
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </a>
        <div class="nav-collapse collapse">
            <ul class="nav">
                <li id="logo"></li>
                <li class="active"><a href="portada.html">Portada</a></li>
                <li><a href="contenido.html">Sobre mí</a></li>
                <li><a href="index_tienda.html">Tienda Online</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Galería de fotos<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="contenido.html">Nueva Colección</a></li>
                        <li class="divider"></li>
                        <li><a href="contenido.html">Colección Oro</a></li>
                        <li><a href="contenido.html">Colección Plata</a></li>
                    </ul>
                </li>
                <li><a href="contenido.html">Contacto</a></li>
            </ul>
        </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="hero-unit"><h1>Ya estamos aquí!</h1>
    <p>Texto de presentación, más tarde se convertirá en un banner móvil con varias imágenes.</p>
    </div>
    <div class="row">
        <div class="span4"><h3>Dónde encontrarme...</h3><div id="fondo_ferias">
        <div class="b_fondo"><b>Aquí podrás conocer de antemano dónde encontrarme en cada uno de los actos, ferias o establecimientos a los que asistiré con mis joyas.</b></div></div></div>
        <div class="span4"><h3>Mis Materiales</h3><div id="fondo_materiales">
        <div class="b_fondo"><b>Todas mis piezas son creadas con materiales de gran calidad, aquí puedes visitar el amplio catálogo de materiales de mis creaciones.</b></div></div></div>
        <div class="span4"><h3>Mis Clientes</h3><div id="fondo_clientes">
        <div class="b_fondo"><b>Mis clientes son mi firme sello de calidad, su satisfacción con mis joyas plasman mi pasión por mi trabajo.</b></div></div></div>
        <div class="span4" style="padding: 5px 0;"><p><a class="btn" href="contenido.html">Saber más »</a></p></div>
        <div class="span4" style="padding: 5px 0;"><p><a class="btn" href="contenido.html">Catálogo »</a></p></div>
        <div class="span4" style="padding: 5px 0;"><p><a class="btn" href="contenido.html">Detalles »</a></p></div>
    </div>
    <hr><footer><p>Galiclick.com 2012</p></footer>
</div>
</body>
</html>
