<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'session' %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <div id="logo">
          <%= link_to '', root_path, :class => "brand"  %>
        </div>
      </div>
    </div>
  </div>
  <% if flash %>
    <% flash.each do |name, msg| %>
      <div class="alert alert-error fade in">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <p><%= msg %></p>
      </div>
    <% end -%>
  <% end %>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>