.buscador {
  position: relative;
  margin-right: 5px;
  z-index: 1;
  float: right;
  width: 236px;
  height: 35px;
}

.construccion-caption {
  position: absolute;
  z-index: 1;
  right: 30%;
  bottom: 50%;
  left: 30%;
  padding: 15px;
  background: #b94a48;
  background: rgba(185, 74, 72, 0.5);
}

.construccion-caption h4,
.construccion-caption p {
  line-height: 20px;
  color: #ffffff;
}

.construccion-caption h4 {
  margin: 0 0 5px;
}

.construccion-caption p {
  margin-bottom: 0;
}
#logo {
  position: relative;
  top: -50px;
  width: 300px;
  height: 200px;
  background: url(../store/tienda/logo_tienda_300X200.jpg);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,1);
  transform: rotate(-5deg);
  transform-origin: 0% 100%;
  -ms-transform: rotate(-5deg);
  -ms-transform-origin: 0% 100%;
  -webkit-transform-origin: 0% 100%;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -moz-transform-origin: 0% 100%;
  -o-transform: rotate(-5deg);
  -o-transform-origin: 0% 100%;
}

.b_fondo {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  padding: 5px;
}

#fondo_ferias {
  background: url(../store/tienda/fondo_ferias_300X120.jpg) no-repeat;
  width: 300px;
  height: 120px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

#fondo_materiales {
  background: url(../store/tienda/fondo_materiales_300X120.jpg) no-repeat;
  width: 300px;
  height: 120px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

#fondo_clientes {
  background: url(../store/tienda/fondo_clientes_300X120.jpg) no-repeat;
  width: 300px;
  height: 120px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.roundabout-holder {
  list-style: none;
  padding: 0;
  height: 600px;
  width: 600px;
}
.roundabout-moveable-item {
  height: 4em;
  width: 4em;
  cursor: pointer;
  margin: 20% 25%;
}
.roundabout-in-focus {
  cursor: auto;
}
.thumbnail{
  border: none;
  text-align:center;
}