@import "bootstrap";
.buscador {
  position: relative;
  margin-right: 5px;
  z-index: 1;
  float: right;
  width: 236px;
  height: 35px;
}

.construccion-caption {
  position: absolute;
  z-index: 1;
  right: 30%;
  bottom: 50%;
  left: 30%;
  padding: 15px;
  background: #b94a48;
  background: rgba(185, 74, 72, 0.5);
}

.construccion-caption h4,
.construccion-caption p {
  line-height: 20px;
  color: #ffffff;
}

.construccion-caption h4 {
  margin: 0 0 5px;
}

.construccion-caption p {
  margin-bottom: 0;
}
#logo {
  position: relative;
  top: -50px;
  width: 300px;
  height: 200px;
  background: url(../store/tienda/logo_tienda_300X200.jpg);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,1);
  transform: rotate(-5deg);
  transform-origin: 0% 100%;
  -ms-transform: rotate(-5deg);
  -ms-transform-origin: 0% 100%;
  -webkit-transform-origin: 0% 100%;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -moz-transform-origin: 0% 100%;
  -o-transform: rotate(-5deg);
  -o-transform-origin: 0% 100%;
}

.b_fondo {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  padding: 5px;
}

#fondo_ferias {
  background: url(../store/tienda/fondo_ferias_300X120.jpg) no-repeat;
  width: 300px;
  height: 120px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

#fondo_materiales {
  background: url(../store/tienda/fondo_materiales_300X120.jpg) no-repeat;
  width: 300px;
  height: 120px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

#fondo_clientes {
  background: url(../store/tienda/fondo_clientes_300X120.jpg) no-repeat;
  width: 300px;
  height: 120px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.roundabout-holder {
  list-style: none;
  padding: 0;
  height: 600px;
  width: 600px;
}
.roundabout-moveable-item {
  height: 4em;
  width: 4em;
  cursor: pointer;
  margin: 20% 25%;
}
.roundabout-in-focus {
  cursor: auto;
}
#logo-cons {
  position: absolute;
  top: 35px;
}
#menu {
  position: absolute;
  top: 275px;
}
/*--------------------------------------*/
/* Checkout
/*--------------------------------------*/

$body_text_color:           #404042 !default;
$link_text_color:           #00ADEE !default;
$base_font_size:            12px !default;
$product_list_price_font_size:          16px !default;
.progress-steps {
  list-style: decimal inside;
  overflow: auto;

  li {
    float: left;
    margin-right: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 20px;
    color: lighten($body_text_color, 20);

    &.current-first, &.current {
      background-color: $link_text_color;
      color: #FFFFFF;
    }

    &.completed-first, &.completed {
      background-color: lighten($body_text_color, 60);
      color: #FFFFFF;

      a {
        color: #FFFFFF;
      }

      &:hover {
        background-color: $link_text_color;
        color: #FFFFFF;

        a {
          color: #FFFFFF;

          &:hover {
            color: #FFFFFF !important;
          }
        }
      }
    }
  }
}

li.last {
  list-style-type: none;
}


#checkout-summary {
  text-align: center;
  border: 1px solid lighten($body_text_color, 60);
  margin-top: -10px;
  margin-left: 0;

  h3 {
    text-transform: uppercase;
    font-size: $base_font_size + 2;
    border-bottom: 1px solid lighten($body_text_color, 60);
  }

  table {
    width: 100%;

    tr[data-hook="order_total"] {
      border-bottom: none;
    };

    #summary-order-total {
      font-size: $base_font_size + 2;
    }
  }
}
table tfoot {
  text-align: right;
  color: lighten($body_text_color, 20);

  tr {
    border: none;
  }

  &#order-total {
    text-transform: uppercase;
    font-size: $base_font_size + 4;
    color: $body_text_color;

    tr {
      border-top: 1px solid lighten($body_text_color, 60);

      td {
        padding: 10px;
      }
    }
  }
}
#ship {
  visibility: visible;
}